tab {
  display: block;
  width: max-content;
  margin: 10px;
}
tab-title {
  display: block;
  padding: 5px;
  font-size: 20px;
  font-family: monospace;
  background-color: gray;
  &:hover {
    cursor: pointer;
  }
}
tab-content {
  display: block;
  padding: 10px;
  background-color: darkgray;
}
